<!DOCTYPE html>
<html ng-app="lesson3list">
<head>
<title>
Lesson 3 - Practice
</title>
<meta charset="utf-8" />
</head>
<body ng-controller="miControler as myScope">
<div>
    <div>
        <table>
            <tr>
                <td>Producto</td>
                <td>Tamano</td>
                <td>Cantidad</td>
                <td>Tienda</td>
                <td/>
            </tr>
            <tr>
                <td><input id="txtProd" ng-model="myScope.producto.nombre"></></td>
                <td><input id="txtTam" ng-model="myScope.producto.tamano"></></td>
                <td><input id="txtCant" ng-model="myScope.producto.cantidad"></></td>
                <td><input id="txtTien" ng-model="myScope.producto.tienda"></></td>
                <td><button id="btnSave"  ng-click="myScope.agrega(myScope.producto)"/>Guardar</td>
            </tr>
        </table>
    </div>
    <div>
        <label >Filtro</label>
        <input ng-model="myText"></input>
    </div>   
    <div style="display:table;">
        <div style="display:table-row;">
            <div style="display:table-cell;">
                Producto 
            </div>
            <div style="display:table-cell;">
                Tamano 
            </div>
            <div style="display:table-cell;">
                Cantidad 
            </div>
            <div style="display:table-cell;">
                Tienda 
            </div>
        </div>
        <div style="display:table-row;" ng-repeat="a in myScope.lista()|filter:myText">
            <div style="display:table-cell;">
                {{a.nombre}} 
            </div>
            <div style="display:table-cell;">
                {{a.tamano}} 
            </div>
            <div style="display:table-cell;">
                {{a.cantidad}} 
            </div>
            <div style="display:table-cell;">
                {{a.tienda}} 
            </div>
        </div>
        <!--<table>
            <tr>
                <td>Producto</td>
                <td>Tamano</td>
                <td>Cantidad</td>
                <td>Tienda</td>
                <td/>
            </tr>
            <tr ng-repeat="a in myScope.lista()|filter:myText">
                <td>{{a.nombre}}</td>
                <td>{{a.tamano}}</td>
                <td>{{a.cantidad}}</td>
                <td>{{a.tienda}}</td>
                <td><button id="btnDelete" ng-click="myScope.elimina($index)"/>Eliminar</td>
            </tr>
        </table>-->

    </div>
</div>
</body>
<script src="js/angular/angular.js"></script>
<script src="js/app/config/appService.js"></script>
<script src="js/app/services/service.js"></script>
<script
src="js/app/controller/lesson3.controller.js"></script>
</html>